
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #000; 
    opacity: 1;
    
    

  }
  
  .swiper-pagination-bullet-active {
    background-color: rgba(111, 111, 111, 0.1); 
  }
  
 
  .swiper-pagination-bullet {
    transition: background-color 0.3s;
  }
  